@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('./util/layout.css');
@import url('./util/model.css');
@import url('./util/elements.css');
*{
    padding: 0;
    margin: 0;
}
body{
   height: 100%;
   background-color: #286096;
   
}